@media screen and (min-width: 426px) and (max-width: 996px) {
    .navbar .logo img {
        width: 25%;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .logo {
        margin-left: 10px;
        padding: 0;
    }

    .navbar {
        padding: 0px 0 0 0px;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu {
        background-color: rgb(90, 89, 89);
        display: flex;
        justify-content: right;
    }


    .checkbtn {
        padding: 2% 2% 2% 2%;
        font-size: 0.8rem;
        border-radius: 5px;
        margin-top: 1%;
        margin-right: 2%;
        margin-bottom: 1%;
    }

    .nav-menu ul {
        visibility: hidden;
        display: none;
        flex-direction: column;
    }

    .main-section {
        width: 100%;
        margin-top: 20%;
        margin-bottom: 5%;
    }

    .main-heading h1 {
        font-size: 1.5rem !important;
    }

    .underline {
        border: 3px solid #FFC800;
        margin: -4% 15% 0 15%;
        z-index: 1000;
    }


    .subheading {
        width: 100%;
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
    }


    .explore {
        margin-top: 5%;
        padding: 2% 4%;
        font-size: 0.8rem;
    }


    .bg-slider {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 70vh;
        background-position: center;
        margin-top: 2%;
    }

    .upcoming-events h2 {
        font-size: 2rem;
    }


    .event-cards {
        width: 90%;
        padding: 5%;
        margin-bottom: 3%;
        overflow: hidden;
    }

    .card3 {
        display: none;
    }


    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10%;
    }

    .about-us-img {
        margin-bottom: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-us-img img {
        width: 60%;
    }

    .about-us-text {
        width: 80%;
    }

    .about-us-text h6 {
        font-size: 1rem;
    }

    .about-us-text h1 {
        font-size: 2rem;
    }

    .about-us-text p {
        font-size: 1rem;
        margin-bottom: 5%;
    }


    .testimonials {
        width: 100%;
        padding: 10% 0 10% 0;
        margin-bottom: 10%;
    }

    .testimonials-bg {
        width: 90%;
    }

    .testimonials-bg {
        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    #name {
        font-size: 1.2rem;
    }

    #designation {
        font-size: 1rem;
    }

    .vedio {
        margin-bottom: 10%;
    }

    
    .btn{
        font-size: 1rem;
    }   


}

@media screen and (min-width: 426px) and (max-width:540px) {


    .footer-row-1 {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 5%;
    }

    .footer1 {
        width: 100%;
    }


    .btn{
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 541px) and (max-width:996px) {

    .footer-row-1 {
        width: 90%;
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        gap: 5%;
    }

    .footer1 {
        width: 100%;
    }

    
.footer2,
.footer3,
.footer4 {
    margin-top: 0%;
}


.btn{
    font-size: 1.4rem;
}


}


@media screen and (min-width: 997px) and (max-width:1293px) {

    .about-us {
        gap: 5%;
    }

    .about-us-img {
        width: 40%;
    }

    .about-us-img img {
        width: 100%;
    }

    .about-us-text {
        width: 40%;
    }

    
    .btn{
        font-size: 1.6rem;
    }
}



@media screen and (min-width:996px) and (max-width:1001px) {
    .nav-btn {
        padding: 16px 25px;
    }
}